body {
  margin: 0px;
  width:100vw;
  height:100vh;
}
@media only screen and (max-width:600px) {
  .outer{
    flex-direction: column;
  }
  .inner{
    height: 50%;
    width: 100%
  }
}
.outer{
  background-image: url('ski-lift.jpeg');
  background-size:100% 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

}

.inner{
  height:90%;
  width:50%;

}
#left {
  background-color: rgba(180,50,220,0.5);
  background-image: url('space.jpeg');
  background-size:100% 100%;
}
#right {
  background-color: rgba(50,180,90,0.5);
}
